.SideLayout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.SideLayout__side_start {
  justify-content: flex-start;
}
.SideLayout__side_center {
  justify-content: center;
  text-align: center;
}
.SideLayout__pt_big{
  padding-top: 30px;
}
