* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 130%;
  color: #404040;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
  word-break: break-word;
  word-wrap: break-word;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
